<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="shortcut icon" href="#">
    <title>Register</title>
</head>

<body>

    <div>
        <h1>Login</h1>
        <form action="/users" method="post">
            <input class="text-field" type="email" name="email" id="email" placeholder="E-mail" required>
            <input class="text-field" type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" id="register" value="Register">
            <label>Already a member?</label>
            <a href="/login.html">login</a>
        </form>
    </div>

</body>

</html>